.huge {
    font-size: 10rem;
}
main{
    margin: auto;
    text-align: center;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 4%;
    margin-bottom: 10%;
    font-size: 5rem;
    color:rgb(123, 234, 238);
}
.players{
    display: block;
    position: initial;
    padding-bottom: 20%;
}
#player1 {
    color:rgb(123, 234, 238);
    float: left;
    margin-left: 25%;
    font-size: 2rem;
    padding-bottom: 20%;
}
#player2 {
    color:rgb(123, 234, 238);
    float: right;
    margin-right: 25%;
    font-size: 2rem;
    padding-bottom: 20%;
}

button {
    background-color: rgb(160, 226, 226);
    border-radius: 9px;
    font-size: 20px;
    color: gray;
    padding: 10px;
}
button:hover {
    background-color: rgb(48, 224, 224);
}